.search-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #4b5563;
  width: 100%;
  max-width: 400px;
  background-color: #1f2937;
  color: white;
}

.search-input::placeholder {
  color: #9ca3af;
}
